

<div class="content">
  <app-sponsor-form  [webpage]="webpage" *ngIf="isDataLoaded"></app-sponsor-form>
  <app-confirm-dialog  [webpage]="webpage" *ngIf="isDataLoaded"></app-confirm-dialog>
  <div class="row" *ngIf="isDataLoaded && hasData()">
    <div class="col-md-12">
      <div class=" card">
        <div class=" card-body d-flex align-items-center">
          <button class="btn btn-sm btn-outline-primary mr-2 d-flex align-items-center"(click)="openAddSponsorForm()" >
            <i class="tim-icons icon-simple-add mr-1"></i>
            Adicionar Novo Patrocinador
          </button>
          <button class="btn btn-sm btn-outline-primary mr-2 d-flex align-items-center" (click)="confirmDeleteAllSponsor()">
            <i class="tim-icons icon-trash-simple mr-1"></i>
            Remover Todos os Patrocinadores
          </button>
          <button class="btn btn-sm btn-outline-primary mr-2 d-flex align-items-center" (click)="exportExcel()">
            <i class="tim-icons icon-paper mr-1"></i>
            Exportar Lista para Excel
          </button>
          <a class="btn btn-sm btn-outline-primary mr-2 d-flex align-items-center" (click)="downloadEntitySource()" [href]="entityDownloadURL" download="{{this.webpage.template.objects.event.content.name+'_patrocinadores.json'}}">
            <i class="tim-icons icon-paper mr-1"></i>
            Exportar como JSON
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="isDataLoaded && hasData()">
    <div class="col-md-8">
      <app-sponsor-list #sponsorListComponent  [webpage]="webpage"></app-sponsor-list>
    </div>
    <div class="col-md-4">
      <app-sponsor-info  [webpage]="webpage"></app-sponsor-info>
    </div>
  </div>
  <div class="row d-flex justify-content-center align-items-center" style="height: 40vh;" *ngIf="!isDataLoaded || !hasData()">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <h1>Ops: Ainda não temos patrocinadores cadastrados.</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <button class="btn btn-lg btn-danger mr-2 d-flex align-items-center"(click)="openAddSponsorForm()" >
        Comece adicionando um novo patrocinador ao seu evento
      </button>
    </div>
  </div>
</div>
