/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.modal-dialog {
  transform: translate(0 ,0 ) !important;
}
.modal-content {
  background: transparent !important;
}
.modal-custom {
  top: 0px;
  background: linear-gradient(to bottom left,  rgba(253,93,147,.5), rgba(236,37,13,.5), rgba(253,93,157,.5));
  .modal-body {
    padding: 0px;
  }
}

