
<div class=" card">
  <div class=" card-header">
    <h4 class=" card-title">Pessoas Registradas</h4>
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th>Avatar</th>
            <th>Nome</th>
            <th>Detalhes</th>
            <th>Redes Sociais</th>
            <th class=" text-center">Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dakota Rice</td>
            <td>Niger</td>
            <td>Niger</td>
            <td>Oud-Turnhout</td>
            <td class=" text-center">$36,738</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
