
<div class=" card">
  <div class=" card-header">
    <h4 class=" card-title">{{this.webpage.template.objects.event.content && this.webpage.template.objects.event.content.name ? 'Edições Passadas de ' + this.webpage.template.objects.event.content.name : 'Edições Passsadas'}}</h4>
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th>Imagem</th>
            <th>Edição</th>
            <th>Data</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let edition of editionsArray"
            (click)="editEdition(edition)"
            class="previousEditionList__row"
          >
            <td title="Imagem de {{edition.name ? edition.name : ''}}" class="col-md-1">
              <img alt="..." class=" avatar" src="{{edition.picture}}" />
            </td>
            <td class="col-md-7">{{edition.name}}</td>
            <td class="col-md-3">
              <p>{{ edition.date | date: 'dd/MM/yyyy' }}</p>
            </td>
            <td>
              <div class="button-container">
                <a (click)="deleteEdition(edition)">
                  <i class="tim-icons icon-trash"></i>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
