

<div class="content">
  <!-- <app-previous-editions-form [template]="template" [event]="event" *ngIf="isDataLoaded"></app-previous-editions-form> -->
  <div class="row">
    <div class="col-md-12">
      <div class=" card">
        <div class=" card-body d-flex align-items-center">
          <button class="btn btn-sm btn-outline-primary mr-2 d-flex align-items-center" (click)="confirmDeleteAllEditions()">
            <i class="tim-icons icon-trash-simple mr-1"></i>
            Remover Todas as Edições
          </button>
          <button class="btn btn-sm btn-outline-primary mr-2 d-flex align-items-center" (click)="exportExcel()">
            <i class="tim-icons icon-paper mr-1"></i>
            Exportar Lista para Excel
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-previous-edition-form [template]="template" [event]="event" *ngIf="isDataLoaded"></app-previous-edition-form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-previous-edition-list [template]="template" [event]="event" *ngIf="isDataLoaded"></app-previous-edition-list>
    </div>
  </div>
</div>
