<ng-template #activityForm let-modal>
  <form #activityForm="ngForm" (ngSubmit)="createOrUpdate(activityForm.value)">
    <div class="modal-body">
      <div class=" card">
        <div class=" card-header d-flex justify-content-between">
          <h5 class=" title">Adicionar uma Atividade</h5>
          <button type="button" style="color: #FFF !important" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class=" card-body">

          <div class="row" *ngIf="activityFormModel.operation == operationUpdate">
            <div class="col-md-12">
              <div class=" form-group" *ngIf="event.template.objects.activity.id">
                <label> ID</label>
                <input
                  [(ngModel)]="activity.id"
                  name="id"
                  readonly="true"
                  class=" form-control"
                  type="text"
                  [value]="activity.id"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" col-md-5 pr-md-1">
              <div class=" form-group">
                <label> Título <span *ngIf="event.template.objects.activity.title.required">*</span></label>
                <input
                  [(ngModel)]="activity.title"
                  name="title"
                  class=" form-control"
                  placeholder="Ex.: Abertura do evento"
                  type="text"
                />
              </div>
            </div>
            <div class=" col-md-3 px-md-1">
              <div class=" form-group">
                <label> Tipo <span *ngIf="event.template.objects.activity.type.required">*</span></label>
                <select
                  class=" form-control"
                  [(ngModel)]="activity.type"
                  name="type"
                >
                  <option value="" selected>- SELECIONAR -</option>
                  <option
                    *ngFor="let type of possibleActivityTypes"
                    [value]="type"
                  >{{ type }}</option>
                </select>
              </div>
            </div>
            <div class=" col-md-4 pl-md-1">
              <div class=" form-group">
                <label for="exampleInputEmail1"> Responsável pela atividade <span *ngIf="event.template.objects.activity.responsible.required">*</span></label>
                <select
                  class=" form-control"
                  [(ngModel)]="activity.responsible"
                  name="responsible"
                >
                <option value="" selected>- SELECIONAR -</option>
                  <option
                    *ngFor="let person of personArray"
                    [value]="person.id"
                  >{{ person.name }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Proporcionado por <span *ngIf="event.template.objects.activity.poweredBy.required">*</span></label>
                <input
                  [(ngModel)]="activity.poweredBy"
                  name="poweredBy"
                  class=" form-control"
                  placeholder="Ex.: Empresa XPTO"
                  type="text"
                />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Público Alvo <span *ngIf="event.template.objects.activity.targetPublic.required">*</span></label>
                <input
                  [(ngModel)]="activity.targetPublic"
                  name="targetPunblic"
                  class=" form-control"
                  placeholder="Ex.: Pesquisadores de Biologia"
                  type="text"
                />
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Resumo breve <span *ngIf="event.template.objects.activity.brief.required">*</span></label>
                <textarea
                  [(ngModel)]="activity.brief"
                  name="brief"
                  rows="6"
                  class=" form-control"
                  placeholder="Ex.: As práticas decorrente da atividade xpto atualmente, levam em consideração..."
                  type="text"
                ></textarea>
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Descrição Detalhada <span *ngIf="event.template.objects.activity.description.required">*</span></label>
                <textarea
                  [(ngModel)]="activity.description"
                  name="description"
                  rows="6"
                  class=" form-control"
                  placeholder="Ex.: A presente atividade busca..."
                  type="text"
                ></textarea>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-3 pr-md-1">
              <div class=" form-check">
                <label class=" form-check-label">
                  A participação na atividade é gratuíto
                <input
                  #checkPriceField
                  class=" form-check-input"
                  type="checkbox"
                  value=""
                  checked=""
                />
                <span class=" form-check-sign">
                  <span class=" check"></span>
                </span>
              </label>
            </div>
            </div>
            <div class=" col-md-3 pr-md-1">
              <div class=" form-group">
                <label> Preço <span *ngIf="event.template.objects.activity.price.required">*</span></label>
                <input
                  #priceField
                  [(ngModel)]="activity.price"
                  name="price"
                  [disabled]="checkPriceField.checked"
                  class=" form-control"
                  placeholder="Ex.: 00,00"
                  type="text"
                />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Pacote <span *ngIf="event.template.objects.activity.pricePlan.required">*</span></label>
                <select
                  [(ngModel)]="activity.pricePlan"
                  name="pricePlan"
                  [disabled]="checkPriceField.checked"
                  class=" form-control"
                  placeholder="Ex.: Pesquisadores de Biologia"
                  type="text"
                >
                <option value="" selected>- SELECIONAR -</option>
                <option *ngFor="let plan of pricePlans" value="plan.id">{{plan.name}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-6 pr-md-1">
              <div class=" form-group">
                <label> Imagem <span *ngIf="event.template.objects.activity.picture.required">*</span></label>
                <input

                  class=" form-control"
                  type="file"
                />
              </div>
            </div>
            <div class=" col-md-6 pl-md-1">
              <div class=" form-group">
                <label> Localização <span *ngIf="event.template.objects.activity.location.required">*</span></label>
                <input
                  [(ngModel)]="activity.location"
                  name="location"
                  class=" form-control"
                  placeholder="Ex.: Sala 23, departamento de Química"
                  type="text"
                />
              </div>
            </div>
          </div>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" *ngIf="activityFormModel.operation == this.operationUpdate" (click)="modal.dismiss('Cross click')">{{activityFormModel.operation}} o registro de {{activity.title}}</button>
          <button class=" btn btn-fill btn-danger" (click)="delete(activity)" *ngIf="activityFormModel.operation == this.operationUpdate">Remover essa atividade</button>
          <button class=" btn btn-fill btn-danger" type="submit" *ngIf="activityFormModel.operation == this.operationCreate" (click)="modal.dismiss('Cross click')">{{activityFormModel.operation}} essa nova atividade</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
