

<div class=" card card-user">
  <div class=" card-body" *ngIf="activity">
    <p class=" card-text"></p>
    <div class=" author">
      <a href="javascript:void(0)">
        <img alt="Fotografia de {{activity.title}}" class=" avatar" src="{{activity.picture}}" />
        <h5 class=" title">{{activity.title}}</h5>
      </a>
      <p *ngIf="activity.responsible" class=" description">{{activity.responsible.name}} - {{activity.poweredBy ? activity.poweredBy : ''}}</p>
      <!-- <small><p *ngIf="person.academicFormation" class=" description">{{person.academicFormation}}</p></small> -->
    </div>
    <div *ngIf="activity.brief" class=" card-description">{{activity.brief}}</div>
    <div *ngIf="!activity.brief" class=" card-description">Nenhuma descrição informada sobre {{activity.title}}.</div>
  </div>
  <div class=" card-footer" *ngIf="activity">

    <div class="button-container">
      <button
        title="Clique aqui para editar e atualizar as informações de {{activity.title}}. Ex. Nome, formação, fotografia, redes sociais..."
        class="btn btn-default mr-1"
        (click)="editActivity(activity)"
      >
        <i class="tim-icons icon-pencil"></i>
        Editar
      </button>
      <button
        (click)="deleteActivity(activity)"
        title="Clique aqui para remover o registro de {{activity.title}} do sistema."
        class="btn btn-danger"
      >
        <i class="tim-icons icon-simple-remove"></i>
        Remover
      </button>
    </div>
  </div>
</div>
