<div class="wrapper">
  <div class="sidebar"><app-sidebar *ngIf="isDataLoaded" [event]="event"></app-sidebar></div>
  <div class="main-panel">
    <app-navbar *ngIf="isDataLoaded" [event]="event"></app-navbar>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
<div class=" fixed-plugin">
  <div class=" show-dropdown" ngbDropdown>
    <a data-toggle="dropdown" ngbDropdownToggle>
      <i class=" fa fa-cog fa-2x"> </i>
    </a>
    <ul ngbDropdownMenu>
      <li class=" header-title">Tema</li>
      <li class=" adjustments-line text-center color-change">
        <span class=" color-label"> MODO CLARO </span>
        <span class=" badge light-badge mr-2" (click)="changeDashboardColor('white-content')"> </span>
        <span class=" badge dark-badge ml-2" (click)="changeDashboardColor('black-content')"> </span>
        <span class=" color-label"> MODO ESCURO </span>
      </li>
    </ul>
  </div>
</div>
