
<div class=" card card-user">
  <div class=" card-body">
    <p class=" card-text"></p>
    <div class=" author">
      <div class=" block block-one"></div>
      <div class=" block block-two"></div>
      <div class=" block block-three"></div>
      <div class=" block block-four"></div>
      <a href="javascript:void(0)">
        <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

        <h5 class=" title">Mike Andrew</h5>
      </a>
      <p class=" description">Ceo/Co-Founder</p>
    </div>
    <div class=" card-description">
      Do not be scared of the truth because we need to restart the human
      foundation in truth And I love you like Kanye loves Kanye I love
      Rick Owens’ bed design but the back is...
    </div>
  </div>
  <div class=" card-footer">
    <div class=" button-container">
      <button
        class=" btn btn-icon btn-round btn-facebook"
        href="javascript:void(0)"
      >
        <i class=" fab fa-facebook"> </i>
      </button>
      <button
        class=" btn btn-icon btn-round btn-twitter"
        href="javascript:void(0)"
      >
        <i class=" fab fa-twitter"> </i>
      </button>
      <button
        class=" btn btn-icon btn-round btn-google"
        href="javascript:void(0)"
      >
        <i class=" fab fa-google-plus"> </i>
      </button>
    </div>
  </div>
</div>
