
<div class=" card card-user">
  <div class=" card-body" *ngIf="sponsor">
    <p class=" card-text"></p>
    <div class=" author">
      <div class=" block block-one"></div>
      <div class=" block block-two"></div>
      <div class=" block block-three"></div>
      <div class=" block block-four"></div>
      <a href="javascript:void(0)">
        <img alt="..." class=" avatar" src="{{sponsor.picture}}" />

        <h5 class=" title">{{sponsor.name}}</h5>
      </a>
      <p class=" description">{{sponsor.sponsorshipPlan}}</p>
    </div>
    <div class=" card-description">
      {{sponsor.brief}}
    </div>
  </div>
  <div class=" card-footer">
    <div class=" button-container">
      <!-- <button
        class=" btn btn-icon btn-round btn-facebook"
        href="javascript:void(0)"
      >
        <i class=" fab fa-facebook"> </i>
      </button>
      <button
        class=" btn btn-icon btn-round btn-twitter"
        href="javascript:void(0)"
      >
        <i class=" fab fa-twitter"> </i>
      </button>
      <button
        class=" btn btn-icon btn-round btn-google"
        href="javascript:void(0)"
      >
        <i class=" fab fa-google-plus"> </i>
      </button> -->
      <button
        title="Clique aqui para editar e atualziar as informações de {{sponsor.name}}. Ex. Nome, formação, fotografia, redes sociais..."
        class="btn btn-default mr-1"
        (click)="editSponsor(sponsor)"
      >
        <i class="tim-icons icon-pencil"></i>
        Editar
      </button>
      <button
        (click)="deleteSponsor(sponsor)"
        title="Clique aqui para remover o registro de {{sponsor.name}} do sistema."
        class="btn btn-danger"
      >
        <i class="tim-icons icon-simple-remove"></i>
        Remover
      </button>
    </div>
  </div>
</div>
