
<div class=" card card-user">
  <div class=" card-body">
    <p class=" card-text"></p>
    <div class=" author">
      <div class=" block block-one"></div>
      <div class=" block block-two"></div>
      <div class=" block block-three"></div>
      <div class=" block block-four"></div>
      <a href="javascript:void(0)">
        <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

        <h5 class=" title">Mike Andrew</h5>
      </a>
      <p class=" description">Ceo/Co-Founder</p>
    </div>
    <div class=" card-description">
      Do not be scared of the truth because we need to restart the human
      foundation in truth And I love you like Kanye loves Kanye I love
      Rick Owens’ bed design but the back is...
    </div>
  </div>
  <div class=" card-footer">
    <div
      class=" button-container"
      *ngIf="event.socialNetworks"
    >
      <button
        *ngIf="event.socialNetworks.facebook"
        class=" btn btn-icon btn-round btn-facebook pr-md-1"
        href="{{event.socialNetworks.facebook}}"
      >
        <i class=" fab fa-facebook"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.twitter"
        href="{{event.socialNetworks.facebook}}"
        class=" btn btn-icon btn-round btn-twitter px-md-1"
      >
        <i class=" fab fa-twitter"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.github"
        href="{{event.socialNetworks.github}}"
        class=" btn btn-icon btn-round btn-github px-md-1"
      >
        <i class=" fab fa-github"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.linkedin"
        href="{{event.socialNetworks.linkedin}}"
        class=" btn btn-icon btn-round btn-linkedin px-md-1"
      >
        <i class=" fab fa-linkedin"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.spotify"
        href="{{event.socialNetworks.spotify}}"
        class=" btn btn-icon btn-round btn-spotify px-md-1"
      >
        <i class=" fab fa-spotify"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.whatsapp"
        href="{{event.socialNetworks.whatsapp}}"
        class=" btn btn-icon btn-round btn-whatsapp px-md-1"
      >
        <i class=" fab fa-whatsapp"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.behance"
        href="{{event.socialNetworks.behance}}"
        class=" btn btn-icon btn-round btn-behance px-md-1"
      >
        <i class=" fab fa-behance"></i>
      </button>
      <button
        *ngIf="event.socialNetworks.youtubeChannel"
        href="{{event.socialNetworks.youtubeChannel}}"
        class=" btn btn-icon btn-round btn-google pl-md-1"
      >
        <i class=" fab fa-youtube"></i>
      </button>
    </div>
  </div>
</div>
