
<div class=" card card-user">
  <div class=" card-body" *ngIf="event">
    <p class=" card-text"></p>
    <div class=" author">
      <div class=" block block-one"></div>
      <div class=" block block-two"></div>
      <div class=" block block-three"></div>
      <div class=" block block-four"></div>
      <a href="javascript:void(0)">
        <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

        <h5 class=" title">{{event.name ? event.name : ''}}</h5>
      </a>
      <p class=" description">{{ event.poweredByInstitution ? event.poweredByInstitution : ''}}</p>
    </div>
    <div class=" card-description text-center">
      {{ event.brief ? event.brief : '' }}
    </div>
    <div class="row text-center">
      <p>{{ event.days ? event.days.date + '/' + event.days.month + '/' + event.days.year : '' }}</p>
    </div>
  </div>
  <div class=" card-footer">
    <div
      class=" button-container"
    >
      <button
        *ngIf="event.socialNetworkFacebook"
        class=" btn btn-icon btn-round btn-facebook pr-md-1"
        href="{{event.socialNetworkFacebook}}"
      >
        <i class=" fab fa-facebook"></i>
      </button>
      <button
        *ngIf="event.socialNetworkTwitter"
        href="{{event.socialNetworkTwitter}}"
        class=" btn btn-icon btn-round btn-twitter px-md-1"
      >
        <i class=" fab fa-twitter"></i>
      </button>
      <button
        *ngIf="event.socialNetworkGithub"
        href="{{event.socialNetworkGithub}}"
        class=" btn btn-icon btn-round btn-github px-md-1"
      >
        <i class=" fab fa-github"></i>
      </button>
      <button
        *ngIf="event.socialNetworkLinkedin"
        href="{{event.socialNetworkLinkedin}}"
        class=" btn btn-icon btn-round btn-linkedin px-md-1"
      >
        <i class=" fab fa-linkedin"></i>
      </button>
      <button
        *ngIf="event.socialNetworkSpotify"
        href="{{event.socialNetworkSpotify}}"
        class=" btn btn-icon btn-round btn-spotify px-md-1"
      >
        <i class=" fab fa-spotify"></i>
      </button>
      <button
        *ngIf="event.socialNetworkWhatsapp"
        href="{{event.socialNetworkWhatsapp}}"
        class=" btn btn-icon btn-round btn-whatsapp px-md-1"
      >
        <i class=" fab fa-whatsapp"></i>
      </button>
      <button
        *ngIf="event.socialNetworkBehance"
        href="{{event.socialNetworkBehance}}"
        class=" btn btn-icon btn-round btn-behance px-md-1"
      >
        <i class=" fab fa-behance"></i>
      </button>
      <button
        *ngIf="event.socialNetworkYoutubeChannel"
        href="{{event.socialNetworkYoutubeChannel}}"
        class=" btn btn-icon btn-round btn-google pl-md-1"
      >
        <i class=" fab fa-youtube"></i>
      </button>
    </div>
  </div>
</div>
