
<div class=" card">
  <div class=" card-header">
    <h4 class=" card-title">Patrocinadores Registradas</h4>
  </div>
  <div class=" card-body" *ngIf="sponsorArray">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th>Imagem</th>
            <th>Nome</th>
            <th>Plano</th>
            <th>Contato</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let sponsor of sponsorArray"
            (click)="editSponsor(sponsor)"
            (mouseover)="selectSponsor(sponsor)"
          >
            <td>
              <img src="{{sponsor.picure}}" title="Imagem de {{sponsor.name}}" alt="Imagem de {{sponsor.name}}"/>
            </td>
            <td><p>{{sponsor.name}}</p></td>
            <td>{{sponsor.sponsorshipPlan}}</td>
            <td>
              <p>{{sponsor.website}}</p>
              <p>{{sponsor.email}}</p>
              <p>{{sponsor.telephone}}</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
