.wrapper {
  overflow: hidden;
}
.welcome-button {
  height: 100px;
  // border: solid 1px $red;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}

.tim-icons {
  font-size: 2em;
}

.logo{
  width: 50%;
  //height: 300px;
}
