<div class=" card d-flex justify-content-center align-items-center" style="height: 100vh">
  <!-- <div class=" card-header">
    <h4 class=" card-title">Pessoas Registradas</h4>
  </div> -->
  <div class=" card-body">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <img src="#" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a routerLink="/novo">
          <div class="welcome-button  btn btn-primary btn-simple mr-1">
            <i class="tim-icons icon-simple-add mb-1"></i>
            Criar um novo projeto
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a routerLink="/carregar">
          <div class="welcome-button  btn btn-primary btn-simple mr-1">
            <i class="tim-icons icon-cloud-upload-94 mb-1"></i>
            Carregar um projeto já existente
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
