<div class="wrapper d-flex justify-content-center align-items-center overflow-hidden">
<div class="content w-100">
<div class="row d-flex justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <!-- <div class=" card-header">
        <h4 class=" card-title">Pessoas Registradas</h4>
      </div> -->
      <div class=" card-body d-flex justify-content-center align-items-center flex-column">
        <div class="row">
          <div class="col-md-12 d-flex justify-content-center">
            <img src="./assets/img/fundo-github.png" class="logo" alt="">
          </div>
        </div>
        <div class="row mb-10">
          <div class="col-md-6">
            <a routerLink="/novo">
              <div class="welcome-button  btn btn-danger btn-simple mr-1">
                <i class="tim-icons icon-simple-add mb-1"></i>
                Criar um novo projeto
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a routerLink="/carregar">
              <div class="welcome-button  btn btn-danger btn-simple mr-1">
                <i class="tim-icons icon-cloud-upload-94 mb-1"></i>
                Carregar um projeto existente
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
