<div class=" card">
  <div class=" card-header">
    <h4 class=" card-title">Novo Projeto</h4>
  </div>
  <div class=" card-body">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" *ngIf="templates">
      <ol class="carousel-indicators">
        <li
          data-target="#{{ template.id }}" data-slide-to="{{i}}" class="active"
          *ngFor="let template of templates; let i = index"
        ></li>
      </ol>
      <div *ngFor="let template of templates" class="carousel-inner">
        <div
          [routerLink]="['/inicio', template.id]"
          class="carousel-item template-item active"
        >
          <img class="d-block w-100 page-mockup" [routerLink]="['/inicio', template.id]" src="{{template.mockup}}" alt="{{template.description}}">
        </div>
      <a class="carousel-control-prev" href="#{{ template.id }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
      <a class="carousel-control-next" href="#{{ template.id }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
    </div>
  </div>
</div>
