

<div class=" card">
  <div class=" card-header"><h5 class=" title">Editar informações {{event && event.name ? 'sobre ' + event.name : 'do seu evento'}}</h5></div>
  <div class=" card-body">
    <form>
      <div class=" row">
        <div class=" col-md-5 pr-md-1">
          <div class=" form-group">
            <label> Título do Evento </label>
            <input
              class=" form-control"
              disabled=""
              placeholder="Ex.: Congresso de Tecnologia"
              type="text"
              [value]="event && event.name ? event.name : ''"
            />
          </div>
        </div>
        <div class=" col-md-2 px-md-1">
          <div class=" form-group">
            <label> Edição </label>
            <input
              class=" form-control"
              placeholder="Ex: XXI"
              type="text"
              [value]="event && event.edition ? event.edition : ''"
            />
          </div>
        </div>
        <div class=" col-md-5 pl-md-1">
          <div class=" form-group">
            <label for="exampleInputEmail1"> Tipo de Evento </label>
            <select
              class=" form-control"
              placeholder="mike@email.com"
              type="email"
            >
            <option [value]="" selected="{{!event || !event.eventType}}"
              >-- SELECIONE --</option>
              <option
                *ngFor="let type of eventType"
                [value]="type"
                selected="{{ event && event.eventType && event.eventType == type }}"
              > {{ type }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-3 pr-md-1">
          <div class=" form-group">
            <label> Assunto/Objetivo </label>
            <input
              class=" form-control"
              placeholder="Ex.: Politicas Ambientais"
              type="text"
              [value]="event && event.subject ? event.subject : ''"
            />
          </div>
        </div>
        <div class=" col-md-4 pl-md-1">
          <div class=" form-group">
            <label> Realizado por Empresa/Instituto: </label>
            <input
              class=" form-control"
              placeholder="Ex.: Universidade XPTO"
              type="text"
              [value]="event && event.poweredBy && event.poweredBy.institution ?  event.poweredBy.institution : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1">
          <div class=" form-group">
            <label> Departamento Realizador: </label>
            <input
              class=" form-control"
              placeholder="Ex.: Departamento de Ciencias"
              type="text"
              [value]="event && event.poweredBy && event.poweredBy.departament?  event.poweredBy.departament: ''"
            />
          </div>
        </div>
        <div class=" col-md-2 pl-md-1">
          <div class=" form-group">
            <label> Público Alvo </label>
            <input
              class=" form-control"
              placeholder="Ex.: Pesquisadores e Estudantes"
              type="text"
              [value]="event && event.targetPublic ? event.targetPublic : ''"
            />
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-4">
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class=" form-group">
                <label> Logotipo </label>
                <input
                  accept="image/png, image/gif, image/jpeg"
                  class="form-control"
                  type="file"
                  [value]=""
                />
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-8">
          <div class="row">
            <div class="col-md-12 pl-md-1">
              <div class=" form-group">
                <label> Resumo sobre o evento </label>
                <textarea
                  rows=5
                  class=" form-control"
                  placeholder="Ex.: Este evento é realiazdo anualmente, conta com a colaboração de diversas pessoas para que possa ocorrer..."
                  type="text"
                  [value]="event && event.brief ? event.brief : ''"
                >{{ event.brief }}</textarea>
              </div>
            </div>
            <div class="col-md-12 pl-md-1">
              <div class=" form-group">
                <label> Descrição detalhada </label>
                <textarea
                  rows=5
                  class=" form-control"
                  placeholder="Ex.: Este evento é realiazdo anualmente, conta com a colaboração de diversas pessoas para que possa ocorrer..."
                  type="text"
                  [value]="event && event.description ? event.description : ''"
                >{{ event.description }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class=" col-md-6 pr-md-1">
          <div class="row">
            <div class="col-md-5">
              <div class=" form-group">
                <label> Contato </label>
                <input
                  #contactField
                  class=" form-control"
                  placeholder="Ex.: Comissão A"
                  type="text"
                />
              </div>
            </div>
            <div class="col-md-5">
              <div class=" form-group">
                <label> Número de Telefone </label>
                <input
                  #telephoneField
                  class=" form-control"
                  placeholder="Ex.: (16) 99235-9954"
                  type="text"
                />
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-sm btn-outline-primary" (click)="addTelephoneToList(contactField.value, telephoneField.value)">
                <i class="tim-icons icon-simple-add mr-1"></i>
              </button>
            </div>

            <div class=" col-md-12">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Contato</th>
                    <th>Número</th>
                  </tr>
                </thead>
                <tbody *ngIf="event && event.telephones" >
                  <tr *ngFor="let telephone of event.telephones">
                    <td>{{ telephone.name }}</td>
                    <td>{{ telephone.number }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-md-1">
          <div class="row">
            <div class="col-md-10">
              <div class=" form-group">
                <label> Datas de ocorrencia do evento </label>
                <input
                  #dateField
                  class=" form-control"
                  placeholder="Ex.: 13/02/2021"
                  type="date"
                />
              </div>
            </div>
            <div class="col-md-2">
              <button class="btn btn-sm btn-outline-primary" (click)="addDateToList(dateField.value)">
                <i class="tim-icons icon-simple-add mr-1"></i>
              </button>
            </div>

            <div class=" col-md-12">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody *ngIf="event && event.days" >
                  <tr *ngFor="let day of event.days">
                    <td>{{ day }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class=" row">
        <div class=" col-md-6 pr-md-1">
          <div class=" form-group">
            <label> Website </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.sitedoevento.com.br"
              type="text"
              [value]="event && event.website ? event.website : ''"
            />
          </div>
        </div>
        <div class=" col-md-6 pl-md-1">
          <div class=" form-group">
            <label> E-mail </label>
            <input
              class=" form-control"
              placeholder="Ex.: email@instituicao.com.br"
              type="email"
              [value]="event && event.email ? event.email : ''"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12">
          <h4 class=" card-title">Redes sociais do evento</h4>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-3 pr-md-1">
          <div class=" form-group">
            <label> Facebook </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.facebook.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.facebook ? event.socialNetworks.facebook : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Twitter </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.twitter.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.twitter ? event.socialNetworks.twitter : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Github </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.github.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.github ? event.socialNetworks.github : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1">
          <div class=" form-group">
            <label> Spotify </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.spotify.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.spotify ? event.socialNetworks.spotify : ''"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3 pr-md-1">
          <div class=" form-group">
            <label> Linkedin </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.linkedin.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.linkedin ? event.socialNetworks.linkedin : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Whatsapp </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.whats.me/"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.whatsapp ? event.socialNetworks.whatsapp : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Behance </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.behance.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.behance ? event.socialNetworks.behance : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1">
          <div class=" form-group">
            <label> Youtube </label>
            <input
              class=" form-control"
              placeholder="Ex.: www.youtube.com/NomeDoEvento"
              type="text"
              [value]="event && event.socialNetworks && event.socialNetworks.youtubeChannel? event.socialNetworks.youtubeChannel : ''"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12">
          <h4 class=" card-title">Local de realização</h4>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3 pr-md-1">
          <div class=" form-group">
            <label> CEP: </label>
            <input
              #cep
              class=" form-control"
              placeholder="Ex.: 14075-662"
              type="text"
              [value]="event && event.location && event.location.cep ? event.location.cep : ''"
              (change)="fetchCEPInformations(cep.value)"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Endereço: </label>
            <input
              #streetField
              class=" form-control"
              placeholder="Ex.: Avenida exemplo"
              type="text"
              [value]="event && event.location && event.location.street ? event.location.street : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> number: </label>
            <input
              #numberField
              class=" form-control"
              placeholder="Ex.: 3425"
              type="text"
              [value]="event && event.location && event.location.number ? event.location.number : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1">
          <div class=" form-group">
            <label> Bairro: </label>
            <input
              #neiborhoodField
              class=" form-control"
              placeholder="Ex.: Parque do Exemplo"
              type="text"
              [value]="event && event.location && event.location.neiborhood ? event.location.neiborhood : ''"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4 pr-md-1">
          <div class=" form-group">
            <label> Cidade: </label>
            <input
              #cityField
              class=" form-control"
              placeholder="Ex.: Ribeirão Preto"
              type="text"
              [value]="event && event.location && event.location.city ? event.location.city : ''"
            />
          </div>
        </div>
        <div class=" col-md-2 px-md-1">
          <div class=" form-group">
            <label> UF: </label>
            <select
              #ufField
              class=" form-control"
              placeholder="Ex.: SP"
              type="text"
              [value]="event && event.location && event.location.state ? event.location.state : ''"
            >
              <option value="">- SELECIONE -</option>
            </select>
          </div>
        </div>
        <div class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> País: </label>
            <input
              #countryField
              class=" form-control"
              placeholder="Ex.: Brasil"
              type="text"
              [value]="event && event.location && event.location.country ? event.location.country : ''"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1">
          <div class=" form-group">
            <label> Coordenadas de Mapa (Latitude/Logitude): </label>
            <input
              class=" form-control"
              placeholder="Ex.: 545568566488"
              type="text"
              [value]="event && event.location && event.location.latLong ? event.location.latLong : ''"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class=" card-footer">
    <button class=" btn btn-fill btn-danger" (click)="update(event)" type="submit">Atualizar Informações</button>
  </div>
</div>
