

<div class=" card">
  <form #eventForm="ngForm" (ngSubmit)="createOrUpdate(eventForm.value)">
    <div class=" card-header">
      <h5 class=" title">Editar informações {{event && event.name ? 'sobre ' + event.name : 'do seu evento'}}</h5>
    </div>
    <div class=" card-body" *ngIf="template && event.template.objects && event.template.objects.event">
      <div class="row">
        <div class="col-md-12">
          <div class=" form-group">
            <label> ID</label>
            <input
              [(ngModel)]="event.id"
              name="id"
              readonly="true"
              class=" form-control"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class=" form-group">
            <label>Template ID</label>
            <input
              [(ngModel)]="event.template"
              name="template"
              [value]='event.template.id'
              readonly="true"
              class=" form-control"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-5 pr-md-1" *ngIf="event.template.objects.event.name">
          <div class=" form-group">
            <label> Título do Evento <span *ngIf="event.template.objects.event.name.required">*</span></label>
            <input
              [(ngModel)]="event.name"
              name="name"
              class=" form-control"
              placeholder="Ex.: Congresso de Tecnologia"
              type="text"
              maxlength="{{event.template.objects.event.name.maxlength}}"
            />
          </div>
        </div>
        <div class=" col-md-2 px-md-1" *ngIf="event.template.objects.event.edition">
          <div class=" form-group">
            <label> Edição <span *ngIf="event.template.objects.event.edition.required">*</span></label>
            <input
              [(ngModel)]="event.edition"
              name="edition"
              class=" form-control"
              placeholder="Ex: XXI"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-5 pl-md-1" *ngIf="event.template.objects.event.eventType">
          <div class=" form-group">
            <label for="exampleInputEmail1"> Tipo de Evento <span *ngIf="event.template.objects.event.eventType.required">*</span></label>
            <select
              [(ngModel)]="event.eventType"
              name="eventType"
              class=" form-control"
            >
            <option [value]="" selected="{{!event || !event.eventType}}"
              >-- SELECIONE --</option>
              <option
                *ngFor="let type of eventType"
                [value]="type"
                selected="{{ event && event.eventType && event.eventType == type }}"
              > {{ type }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-3 pr-md-1" *ngIf="event.template.objects.event.subject">
          <div class=" form-group">
            <label> Assunto/Objetivo <span *ngIf="event.template.objects.event.subject.required">*</span></label>
            <input
              [(ngModel)]="event.subject"
              name="subject"
              class=" form-control"
              placeholder="Ex.: Politicas Ambientais"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-4 pl-md-1" *ngIf="event.template.objects.event.poweredByInstitution">
          <div class=" form-group">
            <label> Realizado por Empresa/Instituto: <span *ngIf="event.template.objects.event.poweredByInstitution.required">*</span></label>
            <input
              [(ngModel)]="event.poweredByInstitution"
              name="poweredByInstitution"
              class=" form-control"
              placeholder="Ex.: Universidade XPTO"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1" *ngIf="event.template.objects.event.poweredByDepartament">
          <div class=" form-group">
            <label> Departamento Realizador: <span *ngIf="event.template.objects.event.poweredByDepartament.required">*</span></label>
            <input
              [(ngModel)]="event.poweredByDepartament"
              name="poweredByDepartament"
              class=" form-control"
              placeholder="Ex.: Departamento de Ciencias"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-2 pl-md-1" *ngIf="event.template.objects.event.targetPublic">
          <div class=" form-group">
            <label> Público Alvo <span *ngIf="event.template.objects.event.targetPublic.required">*</span></label>
            <input
              [(ngModel)]="event.targetPublic"
              name="targetPublic"
              class=" form-control"
              placeholder="Ex.: Pesquisadores e Estudantes"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-4" *ngIf="event.template.objects.event.logo">
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class=" form-group">
                <label> Logotipo <span *ngIf="event.template.objects.event.logo.required">*</span></label>
                <input
                  accept="image/png, image/gif, image/jpeg"
                  class="form-control"
                  type="file"
                />
              </div>
            </div>
          </div>
        </div>
        <div class=" col-md-8">
          <div class="row">
            <div class="col-md-12 pl-md-1" *ngIf="event.template.objects.event.brief">
              <div class=" form-group">
                <label> Resumo sobre o evento <span *ngIf="event.template.objects.event.brief.required">*</span></label>
                <textarea
                  [(ngModel)]="event.brief"
                  name="brief"
                  rows=5
                  class=" form-control"
                  placeholder="Ex.: Este evento é realiazdo anualmente, conta com a colaboração de diversas pessoas para que possa ocorrer..."
                  type="text"
                >{{ event.brief }}</textarea>
              </div>
            </div>
            <div class="col-md-12 pl-md-1" *ngIf="event.template.objects.event.description">
              <div class=" form-group">
                <label> Descrição detalhada <span *ngIf="event.template.objects.event.description.required">*</span></label>
                <textarea
                  [(ngModel)]="event.description"
                  name="description"
                  rows=5
                  class=" form-control"
                  placeholder="Ex.: Este evento é realiazdo anualmente, conta com a colaboração de diversas pessoas para que possa ocorrer..."
                  type="text"
                >{{ event.description }}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class=" col-md-6 pr-md-1">
          <div class="row">
            <div class="col-md-4" *ngIf="event.template.objects.event.telephoneName">
              <div class=" form-group">
                <label> Contato <span *ngIf="event.template.objects.event.telephoneName.required">*</span></label>
                <input
                  #contactField
                  class=" form-control"
                  placeholder="Ex.: Comissão A"
                  type="text"
                />
              </div>
            </div>
            <div class="col-md-4" *ngIf="event.template.objects.event.telephoneNumber">
              <div class=" form-group">
                <label> Número de Telefone <span *ngIf="event.template.objects.event.telephoneNumber.required">*</span></label>
                <input
                  #telephoneField
                  class=" form-control"
                  placeholder="Ex.: (16) 99235-9954"
                  type="text"
                />
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <button
                _ngcontent-eus-c76=""
                type="button"
                class="btn btn-sm btn-outline-primary d-flex align-items-center"
                (click)="addTelephoneToList(contactField.value, telephoneField.value)"
              >
                <i _ngcontent-eus-c76="" class="tim-icons icon-simple-add mr-1"></i>
                Adicionar número
              </button>
            </div>

            <div class=" col-md-12">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Contato</th>
                    <th>Número</th>
                  </tr>
                </thead>
                <tbody *ngIf="event && event.telephones" >
                  <tr *ngFor="let telephone of event.telephones">
                    <td>{{ telephone.name }}</td>
                    <td>{{ telephone.number }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-md-1" *ngIf="event.template.objects.event.days">
          <div class="row">
            <div class="col-md-8">
              <div class=" form-group">
                <label> Datas de ocorrencia do evento <span *ngIf="event.template.objects.event.days.required">*</span></label>
                <input
                  #dateField
                  class=" form-control"
                  placeholder="Ex.: 13/02/2021"
                  type="date"
                />
              </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
              <button
                _ngcontent-eus-c76=""
                type="button"
                class="btn btn-sm btn-outline-primary d-flex align-items-center"
                (click)="addDateToList(dateField.value)"
              >
                <i _ngcontent-eus-c76="" class="tim-icons icon-simple-add mr-1"></i>
                Adicionar data
              </button>
            </div>

            <div class=" col-md-12">
              <table class=" table tablesorter" id="">
                <thead class=" text-primary">
                  <tr>
                    <th>Data</th>
                  </tr>
                </thead>
                <tbody *ngIf="event && event.days" >
                  <tr *ngFor="let day of event.days">
                    <td>{{ day | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class=" row">
        <div class=" col-md-6 pr-md-1" *ngIf="event.template.objects.event.website">
          <div class=" form-group">
            <label> Website <span *ngIf="event.template.objects.event.website.required">*</span></label>
            <input
              [(ngModel)]="event.website"
              name="website"
              class=" form-control"
              placeholder="Ex.: www.sitedoevento.com.br"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-6 pl-md-1" *ngIf="event.template.objects.event.email">
          <div class=" form-group">
            <label> E-mail <span *ngIf="event.template.objects.event.email.required">*</span></label>
            <input
              [(ngModel)]="event.email"
              name="email"
              class=" form-control"
              placeholder="Ex.: email@instituicao.com.br"
              type="email"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12">
          <h4 class=" card-title">Redes sociais do evento</h4>
        </div>
      </div>
      <div class=" row">
        <div class=" col-md-3 pr-md-1" *ngIf="event.template.objects.event.socialNetworksFacebook">
          <div class=" form-group">
            <label> Facebook <span *ngIf="event.template.objects.event.socialNetworksFacebook.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.facebook"
              name="socialNetworksFacebook"
              class=" form-control"
              placeholder="Ex.: www.facebook.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.socialNetworksTwitter">
          <div class=" form-group">
            <label> Twitter<span *ngIf="event.template.objects.event.socialNetworksTwitter.required">*</span> </label>
            <input
              [(ngModel)]="event.socialNetworks.twitter"
              name="socialNetworksFacebook"
              class=" form-control"
              placeholder="Ex.: www.twitter.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.socialNetworksGithub">
          <div class=" form-group">
            <label> Github <span *ngIf="event.template.objects.event.socialNetworksGithub.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.github"
              name="socialNetworksGithub"
              class=" form-control"
              placeholder="Ex.: www.github.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1" *ngIf="event.template.objects.event.socialNetworksSpotify">
          <div class=" form-group">
            <label> Spotify <span *ngIf="event.template.objects.event.socialNetworksSpotify.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.spotify"
              name="socialNetworksSpotify"
              class=" form-control"
              placeholder="Ex.: www.spotify.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3 pr-md-1" *ngIf="event.template.objects.event.socialNetworksLinkedin">
          <div class=" form-group">
            <label> Linkedin <span *ngIf="event.template.objects.event.socialNetworksLinkedin.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.linkedin"
              name="socialNetworksLinkedin"
              class=" form-control"
              placeholder="Ex.: www.linkedin.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.socialNetworksWhatsapp">
          <div class=" form-group">
            <label> Whatsapp <span *ngIf="event.template.objects.event.socialNetworksWhatsapp.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.whatsapp"
              name="socialNetworksWhatsapp"
              class=" form-control"
              placeholder="Ex.: www.whats.me/"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.socialNetworksBehance">
          <div class=" form-group">
            <label> Behance <span *ngIf="event.template.objects.event.socialNetworksBehance.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.behance"
              name="socialNetworksBehance"
              class=" form-control"
              placeholder="Ex.: www.behance.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1" *ngIf="event.template.objects.event.socialNetworksYoutubeChannel">
          <div class=" form-group">
            <label> Youtube <span *ngIf="event.template.objects.event.socialNetworksYoutubeChannel.required">*</span></label>
            <input
              [(ngModel)]="event.socialNetworks.youtubeChannel"
              name="socialNetworksYoutubeChannel"
              class=" form-control"
              placeholder="Ex.: www.youtube.com/NomeDoEvento"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-12">
          <h4 class=" card-title">Local de realização</h4>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-3 pr-md-1" *ngIf="event.template.objects.event.locationCep">
          <div class=" form-group">
            <label> CEP: <span *ngIf="event.template.objects.event.locationCep.required">*</span></label>
            <input
              #cep
              [(ngModel)]="event.locationCep"
              name="locationCep"
              class=" form-control"
              placeholder="Ex.: 14075-662"
              type="text"
              [mask]="00000-000"
              (change)="fetchCEPInformations(cep.value)"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.locationAddress">
          <div class=" form-group">
            <label> Endereço: <span *ngIf="event.template.objects.event.locationAddress.required">*</span></label>
            <input
              #streetField
              [(ngModel)]="event.locationAddress"
              name="locationAddress"
              class=" form-control"
              placeholder="Ex.: Avenida exemplo"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.locationNumber">
          <div class=" form-group">
            <label> number: <span *ngIf="event.template.objects.event.locationNumber.required">*</span></label>
            <input
              #numberField
              [(ngModel)]="event.locationNumber"
              name="locationNumber"
              class=" form-control"
              placeholder="Ex.: 3425"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1" *ngIf="event.template.objects.event.locationNeiborhood">
          <div class=" form-group">
            <label> Bairro: <span *ngIf="event.template.objects.event.locationNeiborhood.required">*</span></label>
            <input
              #neiborhoodField
              [(ngModel)]="event.locationNeiborhood"
              name="locationNeiborhood"
              class=" form-control"
              placeholder="Ex.: Parque do Exemplo"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-md-4 pr-md-1" *ngIf="event.template.objects.event.locationCity">
          <div class=" form-group">
            <label> Cidade: <span *ngIf="event.template.objects.event.locationCity.required">*</span></label>
            <input
              #cityField
              [(ngModel)]="event.locationCity"
              name="locationCity"
              class=" form-control"
              placeholder="Ex.: Ribeirão Preto"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-2 px-md-1" *ngIf="event.template.objects.event.locationUF">
          <div class=" form-group">
            <label> UF: <span *ngIf="event.template.objects.event.locationUF.required">*</span></label>
            <select
              #ufField
              [(ngModel)]="event.locationUF"
              name="locationUF"
              class=" form-control"
              placeholder="Ex.: SP"
              type="text"
            >
              <option value="">- SELECIONE -</option>
              <option value="{{uf.id}}" *ngFor="let uf of states"
              >{{uf.id}}</option>
            </select>
          </div>
        </div>
        <div class=" col-md-3 px-md-1" *ngIf="event.template.objects.event.locationCountry">
          <div class=" form-group">
            <label> País: <span *ngIf="event.template.objects.event.locationCountry.required">*</span></label>
            <input
              #countryField
              [(ngModel)]="event.locationCountry"
              name="locationCountry"
              class=" form-control"
              placeholder="Ex.: Brasil"
              type="text"
            />
          </div>
        </div>
        <div class=" col-md-3 pl-md-1" *ngIf="event.template.objects.event.locationLatLong">
          <div class=" form-group">
            <label> Coordenadas de Mapa (Latitude/Logitude):<span *ngIf="event.template.objects.event.locationLatLongrequired">*</span> </label>
            <input
              [(ngModel)]="event.locationLatLong"
              name="locationLatLong"
              class=" form-control"
              placeholder="Ex.: 545568566488"
              type="text"
            />
          </div>
        </div>
      </div>
    </div>
    <div class=" card-footer">
      <button class=" btn btn-fill btn-danger" *ngIf="template && event.template.objects && event.template.objects.event" type="submit">Atualizar Informações</button>
    </div>
  </form>
</div>
