
<div class=" card">
  <div class=" card-header">
    <h4 class=" card-title">Atividades Registradas</h4>
  </div>
  <div class=" card-body">
    <div class=" table-responsive">
      <table class=" table tablesorter" id="">
        <thead class=" text-primary">
          <tr>
            <th>Imagem</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Responsável/Instituto</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="activityList__row"
            *ngFor="let activity of activityArray"
            (mouseover)="selectActivity(activity)"
            (click)="editActivity(activity)"
          >
            <td title="Imagem de {{activity.title}}" class="col-md-1">
              <img class="avatar" src="{{activity.picture}}" alt="{{activity.title}}" />
            </td>
            <td class="col-md-4">{{activity.title ? activity.title : ''}}</td>
            <td class="col-md-4">{{activity.description ? activity.description : ''}}</td>
            <td class="col-md-3">{{activity.responsible ? activity.responsible.name : ''}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
