<div class=" card">
  <div class=" card-body">
    <form #editionForm="ngForm" (ngSubmit)="createOrUpdate(editionForm.value)">
      <div class="row">
        <div class=" col-md-12">
          <h4 class=" card-title">{{ previousEditionFormModel && previousEditionFormModel.title ? previousEditionFormModel.title : 'Registra uma edição passada do evento' }}</h4>
        </div>
      </div>
      <div class="row" *ngIf="previousEditionFormModel.operation == operationUpdate">
        <div class="col-md-12">
          <div class=" form-group">
            <label>ID</label>
            <input
              [(ngModel)]="edition.id"
              name="id"
              readonly="true"
              class=" form-control"
              type="text"
            />
          </div>
        </div>
      </div>
      <div class=" row">
        <div *ngIf="event.template.objects.pastEdition.name" class=" col-md-3 pr-md-1">
          <div class=" form-group">
            <label> Titulo da edição <span *ngIf="event.template.objects.pastEdition.name.required">*</span></label>
            <input
              #editionNameField
              [(ngModel)]="edition.name"
              name="name"
              class=" form-control"
              placeholder="Ex.: XX Congresso XPTO"
              type="text"
              maxlength="{{event.template.objects.pastEdition.name.maxlength}}"
              minlength="{{event.template.objects.pastEdition.name.minlength}}"
              required="{{event.template.objects.pastEdition.name.required}}"
            />
          </div>
        </div>
        <div *ngIf="event.template.objects.pastEdition.date" class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Data da edição <span *ngIf="event.template.objects.pastEdition.date.required">*</span></label>
            <input
              [(ngModel)]="edition.date"
              name="date"
              class=" form-control"
              placeholder="Ex.: 13/12/2020"
              type="date"
              maxlength="{{event.template.objects.pastEdition.date.maxlength}}"
              minlength="{{event.template.objects.pastEdition.date.minlength}}"
              required="{{event.template.objects.pastEdition.date.required}}"
            />
          </div>
        </div>
        <div *ngIf="event.template.objects.pastEdition.link" class=" col-md-3 px-md-1">
          <div class=" form-group">
            <label> Link do site <span *ngIf="event.template.objects.pastEdition.link.required">*</span></label>
            <input
              [(ngModel)]="edition.link"
              name="link"
              class=" form-control"
              placeholder="Ex.: www.edicao.com.br"
              type="text"
              maxlength="{{event.template.objects.pastEdition.link.maxlength}}"
              minlength="{{event.template.objects.pastEdition.link.minlength}}"
              required="{{event.template.objects.pastEdition.link.required}}"
            />
          </div>
        </div>
        <div *ngIf="event.template.objects.pastEdition.logo" class=" col-md-3 pl-md-1">
          <div class=" form-group">
            <label> Logotipo <span *ngIf="event.template.objects.pastEdition.logo.required">*</span></label>
            <input
              accept="image/png, image/gif, image/jpeg"
              class="form-control"
              type="file"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-start">
          <button class=" btn btn-fill btn-danger" type="submit" *ngIf="previousEditionFormModel.operation == this.operationUpdate" >{{previousEditionFormModel.operation}} o registro de {{edition.title}}</button>
          <button class=" btn btn-fill btn-danger" (click)="delete(edition)" *ngIf="previousEditionFormModel.operation == this.operationUpdate">Remover</button>
          <button class=" btn btn-fill btn-danger" type="submit" *ngIf="previousEditionFormModel.operation == this.operationCreate" >Adicionar {{previousEditionFormModel.operation}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
