
<ng-template #sponsorForm let-modal>
  <!-- <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> -->
  <form #sponsorForm="ngForm" (ngSubmit)="createOrUpdate(sponsorForm.value)">
    <div class="modal-body">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">{{sponsorFormModel.operation == operationUpdate ? 'Atualizar informações de ' + sponsor.name : 'Registrar novo patrocinador'}}</h5></div>
        <div class=" card-body">

            <div class="row" *ngIf="sponsorFormModel.operation == operationUpdate">
              <div class="col-md-12">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.name">
                  <label> ID</label>
                  <input
                    [(ngModel)]="sponsor.id"
                    name="id"

                    class=" form-control"
                    type="text"

                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.name">
                  <label> Nome <span *ngIf="event.template.objects.sponsor.name.required">*</span></label>
                  <input
                  [(ngModel)]="sponsor.name"
                    class=" form-control"
                    placeholder="Ex.: Supermercado ABCD"
                    type="text"
                    name="name"

                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.sponsorshipPlan">
                  <label> Plano <span *ngIf="event.template.objects.sponsor.sponsorshipPlan.required">*</span></label>
                  <select
                    [(ngModel)]="sponsor.sponsorshipPlan"
                    name="sponsorshipPlan"
                    class=" form-control"

                  >
                  <option *ngFor="let plan of possibleSponsorPlans" value="{{plan}}" >{{plan}}</option>
                </select>
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.picture">
                  <label for="exampleInputEmail1"> Imagem <span *ngIf="event.template.objects.sponsor.picture.required">*</span></label>
                  <input
                    name="picture"
                    class=" form-control"
                    type="file"
                    (change)="uploadPicture()"

                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.telephone">
                  <label> Telefone <span *ngIf="event.template.objects.sponsor.telephone.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.telephone"
                    name="telephone"
                    class=" form-control"
                    placeholder="Ex.: (16) 3969-2477"
                    type="text"

                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.email">
                  <label> E-Mail <span *ngIf="event.template.objects.sponsor.email.required">*</span></label>
                  <input
                   [(ngModel)]="sponsor.email"
                    name="email"
                    class=" form-control"
                    placeholder="Ex.: contato@patrocinio.com.br"
                    type="email"

                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationCep">
                  <label> CEP <span *ngIf="event.template.objects.sponsor.locationCep.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.locationCep"
                    #cep
                    (change)="fetchCEPInformations(cep.value)"
                    class=" form-control"
                    placeholder="Ex.: 14075-669"
                    type="text"
                    name="locationCep"

                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationAddress">
                  <label> Endereço <span *ngIf="event.template.objects.sponsor.locationAddress.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.locationAddress"
                    #streetField
                    class=" form-control"
                    placeholder="Ex.: Avenida XPTO"
                    type="text"
                    name="locationAddress"

                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationNeiborhood">
                  <label> Bairro <span *ngIf="event.template.objects.sponsor.locationNeiborhood.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.locationNeiborhood"
                    #neiborhoodField
                    class=" form-control"
                    placeholder="Ex.: Bairro XPZ"
                    type="text"
                    name="locationNeiborhood"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-3 pr-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationNumber">
                  <label> Número <span *ngIf="event.template.objects.sponsor.locationNumber.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.locationNumber"
                    #numberField
                    (change)="fetchCEPInformations(this.value)"
                    class=" form-control"
                    placeholder="Ex.: 496"
                    type="text"
                    name="locationNumber"
                  />
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationUF">
                  <label> UF <span *ngIf="event.template.objects.sponsor.locationUF.required">*</span></label>
                  <select
                    [(ngModel)]="sponsor.locationUF"
                    #ufField
                    name="locationUF"
                    class=" form-control"
                    placeholder="Ex.: SP"
                    type="text"
                  >
                    <option value="">- SELECIONE -</option>
                    <option value="{{uf.id}}" *ngFor="let uf of states"
                    >{{uf.id}}</option>
                  </select>
                </div>
              </div>
              <div class=" col-md-3 px-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationCity">
                  <label> Cidade <span *ngIf="event.template.objects.sponsor.locationCity.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.locationCity"
                    #cityField
                    class=" form-control"
                    placeholder="Ex.: Ribeirão Preto"
                    type="text"
                    name="locationCity"
                  />
                </div>
              </div>
              <div class=" col-md-3 pl-md-1">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.locationCountry">
                  <label> Pais <span *ngIf="event.template.objects.sponsor.locationCountry.required">*</span></label>
                  <input
                    [(ngModel)]="sponsor.locationCountry"
                    #countryField
                    class=" form-control"
                    placeholder="Ex.: Brasil"
                    type="text"
                    name="locationCountry"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group" *ngIf="event.template.objects.sponsor.brief">
                  <label> Resumo/Descrição <span *ngIf="event.template.objects.sponsor.brief.required">*</span></label>
                  <textarea
                    [(ngModel)]="sponsor.locationBrief"
                    name="brief"
                    class=" form-control"
                    placeholder="Ex.: Dedicado a prestação de serivços na área..."
                    rows="5"
                  >
                    {{sponsor.brief}}
                  </textarea
                  >
                </div>
              </div>
            </div>

        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit" (click)="modal.dismiss('Cross click')" *ngIf="sponsorFormModel.operation == this.operationUpdate">{{sponsorFormModel.operation}} o registro de {{sponsor.name}}</button>
          <button class=" btn btn-fill btn-danger" (click)="delete(sponsor)" *ngIf="sponsorFormModel.operation == this.operationUpdate">Remover o registro de {{sponsor.name}}</button>
          <button class=" btn btn-fill btn-danger" type="submit" (click)="modal.dismiss('Cross click')" *ngIf="sponsorFormModel.operation == this.operationCreate">{{sponsorFormModel.operation}} esse novo patrocinador</button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
